.module-9 {
    background: url('http://fit.tdc.edu.vn/addons/default/themes/bootstrapThree/img/bg_pattern.png');
    padding: 20px;
}

.module-9 h2.wp-block-heading {
    font-weight: 800;
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #333;
}

.module-9 ul {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 0;
}

.module-9 #block-22::before {
    content: "";
    display: block;
    background: url('http://fit.tdc.edu.vn/addons/default/themes/bootstrapThree/img/bg_cr_grey.png');
    height: 15px;
}

.module-9 li {
    padding: 10px 0;
    margin: 0 15px;
    list-style-type: none;
    border-bottom: 1px #d9d9d9 solid;
}

.module-9 .widget ul li {
    line-height: normal;
}

.module-9 li:last-child {
    border-bottom: none;
}

.module-9 li::before {
    font-family: Arial, Helvetica, sans-serif;
    color: #f5ce31;
    content: "\2022";
    font-size: 2em;
    padding-right: 0.5em;
    position: relative;
    top: 0.15em;
}

.module-9 .widget li a:link,
.module-9 .widget li a:visited,
.module-9 .widget li a:active {
    color: #428bca;
    text-decoration: none;
    font-weight: lighter;
    font-size: 13px;
}

.module-9 .widget li a:hover {
    color: #2a6496;
    text-decoration: underline;
}