:root {
  --module-1-white: #fff;
  --module-1-bg-site-header: #f8f8f8;
  --module-1-border-site-header: 1px solid #e7e7e7;
  --module-1-bg-a: #e7e7e7;
  --module-1-color-a: #333;
  --module-1-color-ipnut: #555;
  --module-1-border-input: 1px solid #ccc;
  --module-1-button-hover: #e6e6e6;
  --module-1-button-border: #adadad;
  --module-1-shadow-search: inset 0 1px 1px rgba(0, 0, 0, .075);
  --module-1-transition-search: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  --module-1-shadow-search-focus: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
  --module-2-color-post-title: #52a7ff;
  --module-3-footer-bg: #007b5e;
  --module-4-color-button-search: #28a745;
  --module-4-color-bg-search: #f5efe0;
  --module-5-color-post-title: #428bca;
  --module-10-white: #fff;
  --module-10-bg-recentpost: #56bdbf;
  --module-10-bg-recentpost-header: #4bb4b6;
  --module-10-bg-recentpost-button: #62c6c8;
  --module-15-color-post-title: #007bff;
  --module-15-color-post-title-hover: #0056b3;
  --module-15-color-line-time-line: #d4d9df;
}

a {
  word-break: break-word !important;
}

.has-background-white .site a:focus:not(.wp-block-button__link):not(.wp-block-file__button) {
  background: none;
  color: unset;
  text-decoration: underline;
}