.module-4 .no-results.not-found {
  background-color: white;
}

.module-4 .container-title {
  max-width: 450px;
}

.module-4 .bg-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 130px;
  padding-bottom: 10px;
  background-color: var(--module-4-color-bg-search);
  margin: 0;
}

.module-4 label {
  display: none;
}

.module-4 p.search-title {
  font-size: 30px;
  font-weight: 700;
}

.module-4 span {
  word-wrap: break-word;
}

.module-4 .page-header.alignwide {
  border: none;
  margin-bottom: 0;
  padding: 0;
}

.module-4 form.search-form {
  position: relative;
  width: 100%;
}

.module-4 .search-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}

.module-4 .search-form .search-field {
  max-width: 100%;
  height: 70px;
  border: none;
  margin: 0;
  margin: auto;
  padding-left: 60px;
  padding-right: 120px;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 4px;
}

.module-4 input.search-submit {
  background: var(--module-4-color-button-search) !important;
  border-radius: 4px;
  position: absolute;
  padding: 0 10px;
  height: 40px;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  margin-top: 0;
}
.module-4 .page-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}
