:root {
    --white: #fff;
    --bg-recentpost: #56bdbf;
    --bg-recentpost-header: #4bb4b6;
    --bg-recentpost-button: #62c6c8;
}

.module-10 {
    font-size: 14px;
}

.module-10 h2 {
    font-weight: 800;
    font-size: 1.8em;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.1;
    margin-bottom: 10px;
    color: #333;
}

.module-10 a:hover {
    text-decoration: underline;
}

.module-10 ul {
    padding: 20px 30px;
    background-color: var(--bg-recentpost);
    color: var(--white);
    margin-bottom: 0;
}

.module-10 li {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-bottom: 5px;
    font-size: 14px;
}

.module-10 a {
    color: var(--white);
    text-decoration: none;
    font-weight: 300;
}

.module-10 .headlinesdate {
    display: flex;
    align-items: center;
    font-family: 'Prata', serif;
    font-size: 0.8em;
}

.module-10 .headlinesdate .headlinesday {
    line-height: 1.6em;
    border-bottom: 1px solid #fff;
}

.module-10 .headlinesdate .headlinesyear {
    margin-left: 3px;
}

.module-10 .headlinestitle {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
}

.module-10 .button-see-all {
    font-family: 'Open Sans', sans-serif;
    background-color: var(--bg-recentpost-button);
    display: block;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}