
.row.edit-view {
    position: relative;
    font-family: "Merriweather",serif;
}
.row.edit-view ::after {
    position: absolute;
    content: "";
    height: 80%;
    width: 1px;
    right: 50%;
    background-color: #eee;
    z-index: 99;
    top: 50%;
    transform: translateY(-50%);
}
.post-count {
    font-size: 48px;
    color: #222;
    font-weight: bold;
}
.post-title {
    font-size: 14px;
    line-height: 160%;
    margin-bottom: 4px;
}
