:root {
  --module-12-text-color: #488dc6;
}

.module-12 hr {
  margin: 0 !important;
}

.module-12 li.wp-block-latest-comments__comment {
  border-bottom: 1px solid #eee;
  min-height: unset;
}

.module-12 .wp-block-latest-comments__comment-meta {
  display: none;
  width: 0;
  height: 0;
}

.module-12 .avatar.avatar-48.photo.wp-block-latest-comments__comment-avatar {
  visibility: hidden;
  width: 0;
  height: 0;
}

.module-12 .wp-block-latest-comments__comment-excerpt p {
  position: relative;
  left: 0;
  font-weight: 500;
}

.module-12 .wp-block-latest-comments .wp-block-latest-comments__comment-excerpt p {
  position: relative;
  left: -48px;
  color: var(--module-12-text-color);
}

.module-12 .wp-block-latest-comments .wp-block-latest-comments__comment {
  margin: 0;
}